<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--主配置文件 -->
<configuration>
	<typeAliases>
		<typeAlias alias="user" type="com.cicada.entity.User" />
		<typeAlias alias="room" type="com.cicada.entity.Room" />
		<typeAlias alias="repair" type="com.cicada.entity.Repair" />
		<typeAlias alias="menu" type="com.cicada.entity.Menu" />
		<typeAlias alias="email" type="com.cicada.entity.Email" />
		<typeAlias alias="dictionary" type="com.cicada.entity.Dictionary" />
		<typeAlias alias="euipment" type="com.cicada.entity.Equipment" />
		<typeAlias alias="role" type="com.cicada.entity.Role" />
	</typeAliases>

	<!-- 数据连接配置 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" /><!-- 事务类型 -->
			<dataSource type="POOLED"><!-- 连接池 -->
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1:3306/ems?characterEncoding=utf-8" />
				<property name="username" value="root" />
				<property name="password" value="123123" />
			</dataSource>
		</environment>
	</environments>
	<!-- 映射文件 -->
	<mappers>
		<mapper resource="com/cicada/dao/UserMapper.xml" />
		<mapper resource="com/cicada/dao/UserRoleMapper.xml" />
		<mapper resource="com/cicada/dao/RoomMapper.xml" />
		<mapper resource="com/cicada/dao/RoleMenuMapper.xml" />
		<mapper resource="com/cicada/dao/RoleMapper.xml" />
		<mapper resource="com/cicada/dao/EquipmentMapper.xml" />
		<mapper resource="com/cicada/dao/EmailMapper.xml" />
		<mapper resource="com/cicada/dao/DictionaryMapper.xml" />
		<mapper resource="com/cicada/dao/RepairMapper.xml" />
		<mapper resource="com/cicada/dao/MenuMapper.xml"/> 
	</mappers>
</configuration>