<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cicada.dao.UserDao">
  <select id="login" resultType="_int" >
	select id from user where username=#{username} and password=#{password}
  </select>
   <select id="getUserMessage" resultType="user" parameterType="_int" >
	select * from user where id=#{id}
  </select>
  <select id="getAllUserMessage" resultType="user">
	select * from user 
  </select>
   <select id="queryAllUserMessage" resultType="user">
	select username,nickname,email,sex from user where username=#{username} or nickname=#{nickname}
  </select>
  
</mapper>