body {
	background-color: #364150;
}

.loginbox {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
}

.head {
	background-color: #364150;
	color: #fff;
	padding: 40px 0;
}

.body {
	width: 400px;
	background-color: #ECEEF1;
}

.body-head {
	color: #3B9C96;
	padding: 10px;
}

.body-main {
	padding: 0 25px;
}

.form-control {
	background-color: #DDE3EC;
	height: 40px;
}

.body-foot {
	height: 100px;
}

.body-foot button {
	float: left;
	margin-left: 25px;
}

.checkbox {
	float: left;
	margin-left: 25px;
}

.body-foot span {
	margin-left: 100px;
}

.btn {
	background-color: #3B9C96;
	color: #fff;
}
.back{
	background-color: #fff;
	margin-right: 190px;
	color:#bbb;
}
.forget{
	display: none;
}
