body {
	background-color: #364150;
}

.loginbox {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
}

.head {
	background-color: #364150;
	color: #fff;
	padding: 40px 0;
}

.body {
	width: 400px;
	background-color: #ECEEF1;
}

.body-head {
	color: #3B9C96;
	padding: 10px;
}

.body-main {
	padding: 0 25px;
}
/*滑块开始  */
#picture{
	width:190px;
	height:190px;
	border:1px solid #b5c8e2ad;
	padding:4px;
	background:#b5c8e2ad;
	border-radius:6px;
	margin:0 auto;
	position: absolute;
	top:-190px;
	left:-2px;
 	display:none; 
}
.demo{
		width:200px;
		height: 36px;
		position:relative;
		float:right;
		border: 1px dashed #fff;
		border-radius: 4px;
		box-sizing: border-box;
		position: relative;
	}
.slider{
		width:200px;
		height: 34px;
	}
/*滑块结束  */
.form-control {
	background-color: #DDE3EC;
	height: 40px;
}
.body-foot {
	height: 100px;
}

.body-foot button {
	float: left;
	margin-left: 25px;
}

.checkbox {
	float: left;
}

.body-foot span {
	margin-left: 100px;
}

.btn {
	background-color: #3B9C96;
	color: #fff;
}
.back{
	background-color: #fff;
	margin-right: 190px;
	color:#bbb;
}
.forget{
	display: none;
}
